body {
  font-family: cursive;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#books-section > h2 {
  text-align: center;
}

hr {
  display: none;
}

.book {
  display: flex;
  gap: 12px;
  padding: 8px;
}

#book-list-container {
  border: 5px solid black;
}

#book-list-container > div:nth-child(odd) {
  background-color: lightgrey;
}

#book-list-container > div > button {
  margin: 10px 12px;
  margin-left: auto;
  border: 4px solid black;
  background-color: white;
  font-size: larger;
  font-weight: bold;
}
